html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height viewport */
  position: relative;
}

.auth-box {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  z-index: 1; /* Ensure it stays above the background */
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-box form {
  display: flex;
  flex-direction: column;
}

.auth-box input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-box button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%; /* Add this line */
}

.auth-box button:hover {
  background-color: #0056b3;
}

.register-button {
  background-color: #28a745;
  width: 100%; /* Ensure the width is 100% */
}

.register-button:hover {
  background-color: #218838;
}

.background {
  background-image: url('/public/images/login-background.jpeg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
}
